$content-fontcolor: #333;
$content-notice-fontcolor: #777;
$content-bgColor: #f1f1f1;
$input-bgColor: #f5f5f5;
$input-fontcolor: #b7b7b7;
$highlight-fontcolor:#E93B3B;
$light-fontcolor:#999;
$medium-fontcolor:#666;
$btn-bgColor: #0091FF;
$order-btnColor: #4FB0F9;
$back-btnColor: #b6b6b6;
$username-bgColor: #F9F9F9;
$bgColor: #fff;